// Mixin para estilização de botão utilizando outros mixins
// @param {String} $bg-color - Cor de fundo do botão
// @param {String} $text-color - Cor do texto do botão
// @param {Number} $padding - Espaçamento interno do botão (opcional, padrão: $spacer)
// @param {Number} $border-radius - Raio da borda do botão (opcional, padrão: $border-radius)
@mixin button-base($bg-color, $text-color, $border-radius: $border-radius) {
    background-color: $bg-color;
    color: $text-color;
    @include border($border-width, $bg-color, $border-radius);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    @include transition(all 0.2s ease-in-out);
  
    &:hover {
      background-color: darken($bg-color, 5%);
    }
  
    &:active {
      background-color: darken($bg-color, 15%);
    }
  
    &:disabled {
      background-color: lighten($bg-color, 20%);
      cursor: not-allowed;
    }
}
  

.btn{
    // Sizes
    &-sm{
        @include spacing(padding, 1, 2);
        @include font($font-size-sm, $font-weight-normal)
    }
    &-md{
        @include spacing(padding, 1, 3);
        @include font($font-size-md, $font-weight-normal)
    }
    &-lg{
        @include spacing(padding, 1, 4);
        @include font($font-size-lg, $font-weight-normal)
    }
    &-xl{
        @include spacing(padding, 1, 5);
        @include font($font-size-xl, $font-weight-normal)
    }
    &-xxl{
        @include spacing(padding, 1, 6);
        @include font($font-size-xxl, $font-weight-normal)
    }

    // Variants
    &-primary{
        @include button-base($primary-color, $light-color)
    }
    &-secondary{
        @include button-base($secondary-color, $light-color)
    }
    &-success{
        @include button-base($success-color, $light-color)
    }
    &-info{
        @include button-base($info-color, $light-color)
    }
    &-warning{
        @include button-base($warning-color, $light-color)
    }
    &-danger{
        @include button-base($danger-color, $light-color)
    }
    &-outline{
        @include button-base($light-color, $dark-color);
        border-color: $dark-color;
    }

}
