$background: linear-gradient(to right top, #646464, #7c7c7c, #969696, #b0b0b0, #cbcbcb); 
//background-image: linear-gradient(to right top, #646464, #7c7c7c, #969696, #b0b0b0, #cbcbcb);

// Main Colors
$orange: #DC5F00;
$dark-gray: #646464;
$gray: #cbcbcb;

// Colors
$primary-color: #DC5F00;
$secondary-color: #646464;
$success-color: #6adc00;
$info-color: #0079dc;
$warning-color: #dccd00;
$danger-color: #dc1a00;
$light-color: #cbcbcb;
$dark-color: #3b3b3b;

// Font Sizes
$font-size-base: 2rem;
$font-size-lg: 4rem;
$font-size-sm: 6rem;
$font-size-xs: 8rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

// Font Family
$font-family-base: "Poppins", sans-serif;
$font-family-headings: "Lexend", sans-serif;
$font-family-monospace: "Montserrat", sans-serif;

// Spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25, // 0.25rem
  2: $spacer * 0.5,  // 0.5rem
  3: $spacer,        // 1rem
  4: $spacer * 1.5,  // 1.5rem
  5: $spacer * 2,    // 2rem
  6: $spacer * 2.5,  // 2.5rem
  7: $spacer * 3,    // 3rem
  8: $spacer * 3.5,  // 3.5rem
  9: $spacer * 4,    // 4rem
  10: $spacer * 4.5  // 4.5rem
);

// Border
$border-width: 0.25rem;
$border-color: darken($primary-color, 20%);
$border-radius: 10px;
$border-radius-sm: 30px;
$border-radius-lg: 50px;

// Box Shadow
$box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.25);
$box-shadow-lg: 2px 2px 14px 5px rgba(0, 0, 0, 0.25);

// Transition
$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;