$background: linear-gradient(to right top, #646464, #7c7c7c, #969696, #b0b0b0, #cbcbcb); //background-image: linear-gradient(to right top, #646464, #7c7c7c, #969696, #b0b0b0, #cbcbcb);

// Main Colors
$orange: #DC5F00;
$dark-gray: #646464;
$gray: #cbcbcb;